/* Test Font: " The quick brown fox jumps over the lazy dog " */

/*
===================================================================== 
*   Importing new Font from: "https://fonts.google.com/" 
=====================================================================  
*/
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
}

body {
  background-color: #1F243C;
  font-family: 'Bangers', cursive;
  letter-spacing: 8px;
  font-size: 45px;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  color: #fff;
  text-align: center;
}

#activitybutton {
  width: 90%;
  margin: 2rem auto; 
  align-items: center; 
} 

/*
===================================================================== 
*   Button
=====================================================================  
*/
.button {
  font-size: 36px;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  text-align: center;
  padding: 12px 20px;
  margin-left: 15px;
  margin-bottom: 15px;
  border: none;
  transition: all .2s ease-in-out;
  border-radius: 3px;
  cursor: pointer;
  line-height: 50px;
  width: 300px;
  height: 145px;
}

.button:hover {
  background: #526091;
  color: #fff;
} 

.button:active {
  background: #526091;
  color: #fff;
}

.buttongreen {
  background: #10A8AB;
}

.buttonred {
  background: #E64C65;
}

.buttonyellow {
  background: #FCB150;
}

.buttonblue {
  background: #4FC4F6;
}

.button a.last {
  margin-right: 0;
}

.clear {
  clear: both;
}
